# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake_install.cmake
cmake_install.cmake
CMakeCache.txt
CMakeFiles
environment
CMakeCache.txt
CMakeFiles/CMakeOutput.log
CMakeFiles/CMakeError.log
Makefile
*.log
src/quiz/ransac/quizRansac
src/quiz/ransac/quizRansac
SFND313 Lidar.cbp
