.idea/
.idea/*
.idea/*.*
*.a
*.app
*.cmake
*.d
*.dll
*.dylib
*.exe
*.gch
*.includecache
*.la
*.lai
*.lib
*.lo
*.log
*.log
*.make
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.smod
*.so
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CMakeFiles/*
CMakeFiles/*.*
environment
Makefile
playback.cbp
SFND313 Lidar.cbp
src/quiz/cluster/quizCluster
src/quiz/ransac/quizRansac
Uki.code-workspace
build/
.project
ND313.xcodeproj/
